<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <br />
    <ion-title>Library - Book Detail</ion-title>
    <ion-button class="flex-center" (click)="homeNavigate()"
      >Back to Library</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="light">
  <ion-card color="primary" style="height: 100%">
    <ion-card-header>
      <ion-card-title>{{ bookName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Genre: {{ bookGenre }}</p>
      <br />
      <p>Author: {{ bookAuthor }}</p>
      <br />
      <p>Synopsis:</p>
      <p>{{ bookSinopsis }}</p>
      <br />
      <ion-button
        fill="outline"
        slot="end"
        (click)="checking()"
        color="dark"
        class="flex-center"
        >Add to my personal list</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
